.menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(375px, -275px);
  text-align: right;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  &__item {
    margin: 0 0 20px;
    font-size: 12px;
    opacity: 1;
    transition: opacity 50ms linear;

    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}){
        transition-delay: #{$i * 150 + 10000}ms;
      }
    }

    button {
      font-family: 'Maison', monospace;
      border: 0;
      padding: 0;
      background: none;
      color: white;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  &.booting {
    .menu__item {
      opacity: 1;
    }
  }

  &.pre-boot {
    .menu__item {
      opacity: 0;
    }
  }
}