.menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(375px, -275px);
  text-align: right;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  &__item {
    margin: 0 0 20px;
    font-size: 12px;

    button {
      font-family: 'Maison', monospace;
      border: 0;
      padding: 0;
      background: none;
      color: white;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}