.p5Canvas {
  display: block;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: Maison;
  src: url(/fonts/maisonneuemono.ttf); }

body {
  font-family: 'Maison', monospace;
  color: white; }

h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 5px; }

h2 {
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 16px; }

h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

h4 {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px; }

h5 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 8px; }

a {
  text-decoration: none; }

body {
  background-color: black;
  user-select: none; }

.load-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  transform: translateY(100%);
  transition: transform 2s linear;
  transition-delay: 12s; }
  .load-overlay.pre-boot {
    transform: translateY(0); }

.menu {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(375px, -300px);
  text-align: right;
  opacity: 0.5;
  transition: opacity 300ms ease-in-out;
  z-index: 1; }
  .menu:hover {
    opacity: 1; }
  .menu__item {
    margin: 0 0 15px;
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 1;
    transition: opacity 50ms linear; }
    .menu__item:nth-of-type(1) {
      transition-delay: 10150ms; }
    .menu__item:nth-of-type(2) {
      transition-delay: 10300ms; }
    .menu__item:nth-of-type(3) {
      transition-delay: 10450ms; }
    .menu__item:nth-of-type(4) {
      transition-delay: 10600ms; }
    .menu__item:nth-of-type(5) {
      transition-delay: 10750ms; }
    .menu__item:nth-of-type(6) {
      transition-delay: 10900ms; }
    .menu__item:nth-of-type(7) {
      transition-delay: 11050ms; }
    .menu__item:nth-of-type(8) {
      transition-delay: 11200ms; }
    .menu__item:nth-of-type(9) {
      transition-delay: 11350ms; }
    .menu__item:nth-of-type(10) {
      transition-delay: 11500ms; }
    .menu__item button {
      font-family: 'Maison', monospace;
      border: 0;
      padding: 0;
      background: none;
      color: white;
      cursor: pointer; }
      .menu__item button:focus {
        outline: none; }
  .menu.booting .menu__item {
    opacity: 1; }
  .menu.pre-boot .menu__item {
    opacity: 0; }

.repl-console {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  padding: 50px; }
  .repl-console__text {
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.4; }
  .repl-console .cursor {
    font-weight: bolder; }

.line {
  display: block;
  line-height: 1.4; }
  .line a {
    text-decoration: underline;
    color: #0080ff; }
    .line a:hover::after {
      content: ' >';
      animation: arrowAfter 1s linear infinite; }
    .line a:hover::before {
      content: '- '; }
  .line.error {
    color: #ff3131; }

::-webkit-scrollbar {
  width: 0;
  background: transparent; }

@keyframes arrowAfter {
  0% {
    content: ' >'; }
  33% {
    content: ' ->'; }
  66% {
    content: ' -->'; } }

.frame__square {
  display: block;
  position: fixed;
  width: 700px;
  max-width: calc(100vw - 40px);
  height: 600px;
  max-height: calc(100vh - 40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  overflow-y: scroll;
  transition: background-color 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1; }
  .frame__square--active {
    background-color: rgba(0, 0, 0, 0.95); }
  .frame__square--booting {
    background-color: rgba(0, 0, 0, 0); }

